/* NotoSans */
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Regular.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Bold.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

/* NotoSans KR */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Regular.otf') format(oepntype);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Medium.otf') format(oepntype);
  font-weight: 400;
  font-style: normal;
}

/* Lato */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format(truetype);
  font-weight: 900;
  font-style: normal;
}
