@import './font.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Noto Sans KR';
  // color: $text-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.contents {
  padding-top: 60px;
  display: flex;
}

.page-admin {
  width: 100%;
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 100px;
  .container {
    max-width: 1000px;
  }
}
