@import './font.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Noto Sans KR';
  // color: $text-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.contents {
  padding-top: 60px;
  display: flex;
}

.page-admin {
  width: 100%;
  padding: 50px 100px 150px 400px;
  .container {
    max-width: 1200px;
  }
}

/* antd */
.ant-select-item-option-selected {
  &:not(.ant-select-item-option-disabled) {
    background-color: #ebebeb;
  }
}
