/* variables */
$base-color: #171717;
$accent-color: #4eff25;
$text-color: #fff;
$border-color: rgba(255, 255, 255, 0.1);

// admin
$admin-text-color: #828491;
$admin-text-accent-color: $base-color;
$admin-side-nav-bg: #f7f7f7;
$admin-border-color: rgba(29, 29, 29, 0.1);
